.Header {
    width: 100%;
    height: 70px;
    background: linear-gradient(0deg, transparent, rgba(0, 0, 0, 0.7));
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    transition: all 0.2s ease;
}

.Header_Container {
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Header_Pages {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Header_Page {
    padding: 5px 40px;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}

.Header_Page:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.Header_Links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Header_Link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 5px 20px;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}

.Header_Link:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.Header_Link:last-child:hover {
    background-color: rgba(88, 101, 242, 0.7);
}

.Header_MenuBtn {
    cursor: pointer;
    padding: 20px;
}

.Header_MenuBtn:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.Header_LinksMobile {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Header_LinksMobile svg {
    cursor: pointer;
    padding: 20px;
    transition: all 0.3s ease;
}

.Header_LinksMobile svg:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.4);
}

.Header_LinksMobile svg:last-child:hover {
    background-color: rgba(88, 101, 242, 0.4);
}

.Header_MobileMenu {
    width: 100%;
    margin-top: 70px;
    position: fixed;
    z-index: 10000;
    background-color: #1c1c1e;
}

.Header_MobileMenu div {
    transition: all 0.2s ease;
    padding: 20px;
    cursor: pointer;
}

.Header_MobileMenu div:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 875px) {
    .Header {
        justify-content: space-between;
    }
}
