.landing {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100vh;
    background-color: #111;
}

.landing .background {
    width: 100%;
    height: 100%;

    background: url(../img/teyvat2.png) no-repeat center center fixed; /* src: https://www.reddit.com/r/Genshin_Impact/comments/s6dpa6/sunset_over_teyvat_panoramic_made_by_me/ */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    filter: blur(6px);
    -webkit-filter: blur(6px);
}

.landing .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing .content .logo {
    height: 300px;
    width: 300px;
    float: left;
    fill: #f9cb25;
    overflow: visible !important;
}

.landing .content .text {
    margin-left: 25px;
    margin-top: 0px;
    color: white;
}

.landing .content .text h1 {
    margin: 0;
}

.landing .content .text p {
    margin: 0;
    padding-top: 15px;
}

.landing .content .text .links {
    margin-top: 15px;
    width: 100%;
    height: 45px;

    display: flex;
    justify-content: space-evenly;
}

.landing .content .text .links p {
    padding: 0;
    padding-top: 5px;
    text-transform: uppercase;
    font-weight: bold;
}

.landing .scroll {
    position: absolute;
    top: 96%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: white;
    opacity: 25%;
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.landing .scroll p {
    float: left;
    font-size: 20px;
    text-align: center;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

.landing .scroll .arrow {
    float: left;
    position: relative;
    width: 50px;
    height: 50px;
    font-size: 40px;
}

.landing .scroll .arrow svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: arrowbounce;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes arrowbounce {
    0%      { top: 58% }
    50%     { top: 42% }
    100%     { top: 58% } 
}

.team {
    width: 100%;
    height: 50vh;
}

.team h1 {
    margin-top: 30px;
    margin-left: 40px;
    text-align: center;
}

.team .grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: 0px 40px;
}

.team .member {
    display: inline-grid;
    height: 60px;
    margin: 14px 10px;
}

.team .member .content {
    font-size: 23px;
    height: 60px;
    /*line-height: 60px;*/
    float: left;
}

.team .member .content img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    float: left;
}

.team .member .content .info {
    float: left;
    width: calc(100% - 80px);
    height: 100%;
    padding-left: 20px;
}

.team .member .content .info p {
    padding: 0;
    margin: 0;
    font-size: 25px;
}

.team .member .content .info p.center {
    line-height: 60px;
}

.team .member .content .info p span.team-badge {
    color: black;
    margin-left: 8px;
    background-color: #f9cb25;
    padding: 3px 5px;
    font-size: 10px;
    border-radius: 5px;
    margin-bottom: 50px;
    vertical-align: middle;
}

.team .member .content .info .links {
    background-color: red;
    
}

.team .member .content .info .links p {
    float: left;
    padding: 0;
    margin: 0;
    padding-right: 10px;
    font-size: 16px;
}

.team .member .content .info .links p a {
    color: white;
    text-decoration: none;
    text-decoration-color: none;
}

@media (max-width: 850px) and (orientation:portrait) {
    .landing .content {
        display: block;
        width: 90%;
        text-align: center;
    }

    .landing .content .logo {
        float: initial;
    }

    .landing .content .text {
        margin-left: 0px;
        margin-top: 25px;
    }

    .landing .content .text .links {
        display: block;
        justify-content: initial;
    }
}

@media (max-height: 700px) and (orientation:portrait) {
    .landing .content .logo {
        height: 250px;
        width: 250px;
    }

    .landing .scroll p {
        font-size: 15px;
        font-weight: bold;
    }

    .landing .scroll i {
        font-size: 30px;
    }
}

@media (max-height: 630px) and (orientation:portrait) {
    .landing .content .logo {
        height: 175px;
        width: 175px;
    }

    .landing .content .text {
        margin-top: 10px;
    }

    .landing .content .text .links {
        padding-top: 10px;
    }
}

@media (max-height: 450px) and (orientation:landscape) {
    .landing .content .text h1 {
        font-size: 1.5em;
    }
    
    .landing .content .text p {
        font-size: 0.8em;
    }

    .landing .content .logo {
        height: 200px;
        width: 200px;
    }
}