.Home_Grasscutter {
    background-image: url("/gc_wallpaper.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 600px;
    width: 100%;
    display: flex;
}

.Home_Grasscutter_Container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(270deg, transparent, #112a49);
}

.Home_Grasscutter_Container_Text {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-right: 600px;
}

.Home_Grasscutter_Container_Text h1 {
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 20px;
}

.Home_Grasscutter_Buttons {
    display: flex;
    gap: 20px;
    margin-top: 30px;
}

.Home_Cultivation {
    background-image: url("/culti_wallpaper.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 600px;
    width: 100%;
    display: flex;
}

.Home_Cultivation_Container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(90deg, transparent, #2596be);
}

.Home_Cultivation_Container_Text {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-left: 600px;
    text-align: end;
}

.Home_Cultivation_Container_Text h1 {
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 20px;
}

.Home_Cultivation_Buttons {
    display: flex;
    gap: 20px;
    margin-top: 30px;
    justify-content: end;
}

.Home_ConfigGen {
    width: 100%;
    height: 300px;
    background-image: url("/config_backdrop.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Home_ConfigGen_Container {
    width: 1200px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Home_ConfigGen_Container_Text {
    max-width: 800px;
}

.Home_About {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #492e8f, #746ce8);
    padding: 40px;
}

.Home_About_Container {
    max-width: 1000px;
    height: 100%;
    text-align: center;
}

.Home_About_Container h1 {
    font-size: 50px;
    font-weight: 1000;
}

.Home_About_Container_Text {
    font-size: 18px;
    color: rgba(245, 245, 245, 0.78);
}

.Home_About_Cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
    margin: 50px 0;
}

.HomeCard {
    width: 300px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.HomeCard:hover {
    background-color: #f8f8f8;
}

.HomeCard_Count {
    font-size: 40px;
    font-weight: 800;
    margin: 0;
    color: #1969c9;
    cursor: default;
}

.HomeCard_Text {
    font-size: 18px;
    font-weight: 400;
    margin: -5px 0 0 0;
    cursor: default;
    color: #737373;
}

.Home_Team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    text-align: center;
    background: linear-gradient(180deg, #1e1e1e, transparent);
}

.Home_Team h1 {
    font-size: 50px;
    font-weight: 1000;
    color: #68a3e8;
}

.Home_Team h3 {
    font-size: 25px;
    font-weight: 500;
    color: #d7d7d7;
    margin: -10px 0 50px 0;
}

.Home_Team_Members {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    row-gap: 50px;
    margin-top: 50px;
}

.TeamMember {
    width: 256px;
    height: 256px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.TeamMember_Image {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    border: 7px solid #fff;
    margin-bottom: 10px;
    transition: 0.2s ease-in-out scale;
    box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.2);
}

.TeamMember_Image:hover {
    cursor: pointer;
    scale: 1.1;
}

.TeamMember_Name {
    font-size: 20px;
    font-weight: 400;
    margin: 0;
}

.TeamMember_Badge {
    font-size: 12px;
    font-weight: 400;
    margin: 0;
    color: #000;
    padding: 5px 10px;
    border-radius: 10px;
}

@media screen and (max-width: 1200px) {
    .Home_Grasscutter_Container_Text {
        width: 80%;
        margin-right: 0;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .Home_Cultivation_Container_Text {
        width: 80%;
        margin-left: 0;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .Home_ConfigGen {
        height: 400px;
    }

    .Home_ConfigGen_Container {
        width: 80%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .Home_About_Cards {
        flex-direction: column;
    }
}

@media screen and (max-width: 450px) {
    .Home_Grasscutter_Buttons {
        flex-direction: column;
    }

    .Home_Cultivation_Buttons {
        flex-direction: column;
    }
}
