@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

html,
body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background-color: #2d2d2d;
    color: #fff;
}

::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #1969c9;
    border-radius: 10px;
}

.StyledHeading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: relative;
}

.StyledHeading_Top {
    height: 10px;
    width: 40%;
    background-color: #e86c68;
    border-radius: 20px;
    align-self: flex-end;
}

.StyledHeading_Top:after {
    content: "";
    position: absolute;
    width: 10px;
    height: 40px;
    right: 20px;
    background-color: #e86c68;
    border-radius: 20px;
}

.StyledHeading_Text {
    padding: 0 25px;
    font-size: 50px;
    font-weight: 1000;
    margin: 0;
}

.StyledHeading_Bottom {
    height: 10px;
    width: 40%;
    background-color: #68c6e8;
    border-radius: 20px;
    align-self: flex-start;
}

.StyledHeading_Bottom:before {
    content: "";
    position: absolute;
    width: 10px;
    height: 40px;
    left: 20px;
    margin-top: -30px;
    background-color: #68c6e8;
    border-radius: 20px;
}

.BasicButton {
    background-color: transparent;
    color: #fff;
    font-size: 20px;
    border-radius: 5px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;

    -webkit-filter: brightness(100%);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.BasicButton:hover {
    -webkit-filter: brightness(70%);
}

.BasicButton:active {
    scale: 0.97;
}

.BasicModal_Backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000070;
    background-size: cover;
    z-index: 1000;
    display: none;
}

.BasicModal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 400px;
    height: auto;
    background-color: #1a1a1a;
    border-radius: 10px;
    border: #1969c9 2px solid;
    z-index: 1001;
    padding: 20px;
    box-shadow: #00000070 0 0 10px 0;
    animation: expand 0.2s ease-in-out forwards;
    box-sizing: border-box;
}

.BasicModal h1 {
    margin: 0;
    font-size: 30px;
}

.BasicModal p {
    margin: 0;
}

.BasicModal input {
    padding: 10px;
    border-radius: 10px;
    border: transparent 2px solid;
    font-size: 15px;
    transition: all 0.2s ease-in-out;
}

.BasicModal input:focus {
    outline: none;
    border: #1969c9 2px solid;
}

.BasicModal textarea {
    padding: 10px;
    border-radius: 10px;
    height: 100px;
    border: transparent 2px solid;
    font-size: 15px;
    transition: all 0.2s ease-in-out;
    resize: none;
}

.BasicModal textarea:focus {
    outline: none;
    border: #1969c9 2px solid;
}

@keyframes expand {
    0% {
        scale: 0;
    }
    100% {
        scale: 1;
    }
}

.BasicModal_Submit {
    width: 100%;
    justify-content: center;
    border-radius: 10px;
    border: #1969c9 2px solid;
    transition: all 0.2s ease-in-out;
    background-color: transparent;
}

.BasicModal_Submit:hover {
    background-color: #1969c9;
    color: white;
    cursor: pointer;
}

.Footer {
    text-align: center;
    height: 100px;
    background-color: #1c1c1e;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Loader {
    height: calc(100vh - 100px);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.Loader p {
    text-align: center;
    width: 90%;
}

.Loader_Spinner {
    border: 16px solid transparent;
    border-top: 16px solid #3498db;
    border-bottom: 16px solid #3498db;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.FallbackPage {
    height: calc(100vh - 100px);
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.FallbackPage div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 90%;
}

.FallbackPage h1 {
    font-size: 50px;
    font-weight: 1000;
    margin: 0;
}

.FallbackPage p {
    font-size: 20px;
    font-weight: 500;
    margin: 0;
}

.FallbackPage a {
    text-decoration: none;
    color: #3498db;
    font-size: 20px;
    font-weight: 500;
}

@media screen and (max-width: 500px) {
    .BasicModal {
        width: 100%;
        bottom: 0;
        top: auto;
        transform: translate(-50%, 0);
        border: none;
        border-radius: 0;
    }
}
